// .btn-primary {
//     display: inline-block;
//     margin-top: 10vw;
//     width: 240px;
//   }

h1{
    text-align: center;
}

.container {
    border: magenta 2px solid;
    width: 100%;
}

list-certificat,
certificat-detail {
    width: 100%;
}
.componentName {
    background-color: magenta;
}