<cm-header></cm-header>

<div class="container">

    <span class="componentName">Search Component </span>
    
    <h1>Rechercher un certificat</h1>

    <div>
        <label>Entrer un numero du certificat : </label>
        <input type="text" [(ngModel)]="this.nomPersonSearch" (ngModelChange)="this.onClick()"/>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <list-certificat [listPerson]="this.listPersonnResult" (personSelectedEvent)="this.onPersonSelected($event)"></list-certificat>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <certificat-detail [selectedPerson]="this.personSelected"></certificat-detail>
            </div>
        </div>
    </div>

</div>


<cm-footer></cm-footer>