<div class="container">
    
    <span class="componentName">Detail Component </span>

    <p>Detail person!</p>

    <div *ngIf="this.selectedPerson; else elses">
        <div>
            <span>{{ this.selectedPerson.name | uppercase }}</span>
            <br/>
            <span> #{{ this.selectedPerson.id }}</span>
            <br/>
            <span> {{ this.selectedPerson.money | number : "3.0-2" : "en-US" }}</span>
            <br/>
            <img src="{{ this.selectedPerson.urlPhoto }}" width="300"/>
            <br/>
            {{ this.textHtml.length > 0 ? this.textHtml : "(Chaine vide)" }} <br/>
            <span *ngIf="this.textHtml.length > 0; else elses"> {{ this.textHtml }}</span>
            <ng-template #elses>
                {{ "(Chaine vide)" }}
                <span [innerText]="'(Chaine vide)'"></span>
            </ng-template>
            <span innerText></span>
        </div>
    </div>
    <ng-template #elses>
        <div>
            Veuillez selectionner
        </div>
    </ng-template>
</div>